h1{
    background-color: darkgreen;
    color: #fff;
}
body{
    background: #444;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dave{
    width: 400px;
    margin: auto;
    height: auto;
    background: blue;
}
input[type = text]{
    width: 100%;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    align-self: center;
}
input[type = button]{
    width: 89px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
}
#del{
    width: 100%;
}
button{
    align-self: auto;
}
